.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
*.sqlite3
*.pyc
__pycache__/
.vscode
/venv
package-lock.json

frontend/dist/
frontend/images/
frontend/node_modules/
frontend/package-lock.json
api/migrations/__pycache__/__init__.cpython-36.pyc
