.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
*.sqlite3

frontend/lab-vue/dist/
frontend/lab-vue/node_modules/
frontend/lab-vue/package-lock.json