.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
*.sqlite3
*.pyc
*.mo
__pycache__/
.vscode
/venv
frontend/dist/
frontend/images/
frontend/node_modules/
frontend/package-lock.json
/coobs/bin/
/coobs/include/
/coobs/lib/
/coobs/settings/dev.py