astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
Django==2.2.2
django-filter==2.1.0
djangorestframework==3.9.4
djangorestframework-camel-case==1.1.2
djangorestframework-jwt==1.11.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.1.1
mccabe==0.6.1
psycopg2==2.8.4
PyJWT==1.7.1
pylint==2.4.4
pytz==2019.1
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.7
wrapt==1.11.2
